%h1= @user.first_name+" "+@user.last_name
%h2= "Addresses"
%table.addresses{ :border => 1, :width => "100%"}
	%thead
		%tr
			%th= "Street"
			%th= "City"
			%th= "State"
			%th= "Zip Code"
			%th= "Action"
	%tbody
		- @addresses.each do|address|
			%tr.address{ :data => {:user_id => @user.id}}
				%td= address.street
				%td= address.city
				%td= address.state
				%td= address.zip_code
				%td
					%a.delete{:href => "#", :data=>{:type => "address", :id => address.id}}= "x"
		%tr.edit_fields{:data => {:type => "address", :user_id => @user.id}}
			%td
				%input.street{:placeholder => "Street"}
			%td 
				%input.city{:placeholder => "City"}
			%td
				%input.state{:placeholder => "State"}
			%td
				%input.zip_code{:placeholder => "Zip Code"}
			%td
				%a.edit{:href => "#", :type => "Submit", :value => "Add"}= "Add"

%h2= "Phone Numbers"
%table.phone_numbers{ :border => 1, :width => "100%", :class => @phone_numbers.blank? && "empty"}
	%thead
		%tr
			%th= "Area Code"
			%th= "Phone Number"
			%th= "Label"
			%th= "Action"
	%tbody
		- @phone_numbers.each do|phone_number|
			%tr.phone_number{ :data => {:user_id => @user.id}}
				%td= phone_number.area_code
				%td= phone_number.phone_number
				%td= phone_number.label
				%td
					%a.delete{:href => "#", :data=>{:type => "phone_number", :id => phone_number.id}}= "x"
		%tr.edit_fields{:data => {:type => "phone_number", :user_id => @user.id}}
			%td
				%input.area_code{:placeholder => "Area Code"}
			%td
				%input.phone_number{:placeholder => "Phone Number"}
			%td
				%input.label{:placeholder => "Label"} 
			%td
				%a.edit{:href => "#", :type => "Submit", :value => "Add"}= "Add"

%h2= "Email Addresses"
%table.email_addresses{ :border => 1, :width => "100%", :class => @email_addresses.blank? && "empty"}
	%thead
		%tr
			%th= "Email Address"
			%th= "Action"
	%tbody
		- @email_addresses.each do|email_address|
			%tr.email_address{ :data => {:user_id => @user.id}}
				%td= email_address.email_address
				%td
					%a.delete{:href => "#", :data=>{:type => "email_address", :id => email_address.id}}= "x"
		%tr.edit_fields{:data => {:type => "email_address", :user_id => @user.id}}
			%td
				%input.email_address{:placeholder => "Email"}
			%td
				%a.edit{:href => "#", :type => "Submit", :value => "Add"}= "Add"

= link_to "Back", user_index_url, :title => 'Back'

= link_to "Delete User", @user, method: :delete